name: cd

on:
  push:
    tags:
    - '*.*.*'

jobs:
  version:
    runs-on: ubuntu-22.04
    outputs:
      v_tag: ${{ steps.version.outputs.TAG_VERSION }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Get tag version
      id: version
      run: echo "TAG_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

  lint:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install yamllint
      run: |
        python -m pip install --upgrade pip
        python -m pip install --user yamllint

    - name: Lint metadata file
      run: yamllint -d relaxed metadata.yaml

  release:
    needs: ["lint", "version"]
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Release
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ needs.version.outputs.v_tag }}
        name: Version ${{ needs.version.outputs.v_tag }}
        draft: false
        prerelease: ${{ contains(needs.version.outputs.v_tag, 'rc') }}
